<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XM_NSNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>572BB99A1CFEB89300BB981F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572BB9B61CFEB89300BB981F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572BB9C11CFEB89300BB981F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
